[gcode_macro START_PRINT] 
gcode: 
  M220 S100 ;Reset Feedrate
  M221 S100 ;Reset Flowrate
  {% set BED_TEMP = params.BED_TEMP|default(60)|float %}
  {% set EXTRUDER = params.EXTRUDER|default(0)|int %}
  {% set EXTRUDER_TEMP = params.EXTRUDER_TEMP|default(200)|float %}
  {% set axismax = printer.toolhead.axis_maximum %}
  {% set axismin_x = printer.toolhead.axis_minimum.x %}
  {% set axismin_y = printer.toolhead.axis_minimum.y %}
  # Heat bed for probing
  M190 S{BED_TEMP}

  G28 ;Home
  BED_MESH_CALIBRATE ADAPTIVE=1 METHOD=rapid_scan
  G1 Z10 F450  
  M109 S{EXTRUDER_TEMP}
  LINE_PURGE
  SKEW_PROFILE LOAD=calilantern_skew_profile

[gcode_macro PRINT_END]
gcode:
  SET_SKEW CLEAR=1
  G91 ;Relative positioning
  G1 E-2 F2700 ;Retract a bit
  G1 E-23 Z0.2 F1500 ;Retract and raise Z
  G1 X5 Y5 F3000 ;Wipe out
  G1 Z10 ;Raise Z more
  G90 ;Absolute positioning

  G1 X5 Y220 ;Present print
  M106 S0 ;Turn-off fan
  M104 S0 ;Turn-off hotend
  M140 S0 ;Turn-off bed
  M84 ;Disable steppers
  
[gcode_macro M600]
gcode:
    {% set X = params.X|default(50)|float %}
    {% set Y = params.Y|default(0)|float %}
    {% set Z = params.Z|default(10)|float %}
    SAVE_GCODE_STATE NAME=M600_state
    PAUSE
    G91
    G1 E-.8 F2700
    G1 Z{Z}
    G90
    G1 X{X} Y{Y} F3000
    G91
    G1 E-50 F1000
    RESTORE_GCODE_STATE NAME=M600_state

[gcode_macro Screws_Tilt]
gcode:
    G28
    SCREWS_TILT_CALCULATE

[gcode_macro Resonance_X]
gcode:
    TEST_RESONANCES AXIS=X

[gcode_macro Resonance_Y]
gcode:
    TEST_RESONANCES AXIS=Y

[gcode_macro Accelerometer_Boot]
gcode:
    ACCELEROMETER_QUERY

[gcode_macro _CLIENT_VARIABLE]
  gcode:
    #variable_use_custom_pos   : False ; use custom park coordinates for x,y [True/False]
    #variable_custom_park_x    : 0.0   ; custom x position; value must be within your defined min and max of X
    #variable_custom_park_y    : 0.0   ; custom y position; value must be within your defined min and max of Y
    #variable_custom_park_dz   : 2.0   ; custom dz value; the value in mm to lift the nozzle when move to park position
    #variable_retract          : 1.0   ; the value to retract while PAUSE
    variable_cancel_retract   : 25.0   ; the value to retract while CANCEL_PRINT
    variable_speed_retract    : 35.0  ; retract speed in mm/s