[mcu zboard]
serial: /dev/serial/by-id/usb-Klipper_stm32g0b1xx_2000480002504B5735313920-if00
restart_method: command

[temperature_sensor zboard]
sensor_type: temperature_mcu
sensor_mcu: zboard
sensor_temperature1: 25
sensor_adc1: 0.210317
#min_temp: 0
#max_temp: 105

[stepper_z]
#front
step_pin: zboard: PB0
dir_pin: !zboard: PC5
enable_pin: !zboard: PB1
microsteps: 16
rotation_distance: 8
endstop_pin: probe:z_virtual_endstop
position_min: -3
position_max: 440

[tmc2209 stepper_z]
uart_pin: zboard: PC11
tx_pin: zboard: PC10
uart_address: 1
run_current: 0.580
#stealthchop_threshold: 999999

[stepper_z1]
#right side x-axis
step_pin: zboard: PB13
dir_pin: !zboard: PB12
enable_pin: !zboard: PB14
microsteps: 16
rotation_distance: 8
#   See the "stepper" section for the definition of the above parameters.
#endstop_pin:

[tmc2209 stepper_z1]
uart_pin: zboard: PC11
tx_pin: zboard: PC10
uart_address: 0
run_current: 0.580
#stealthchop_threshold: 999999

[stepper_z2]
#left side y-axis
step_pin: zboard: PB10
dir_pin: !zboard: PB2
enable_pin: !zboard: PB11
microsteps: 16
rotation_distance: 8
#   See the "stepper" section for the definition of the above parameters.
#endstop_pin:

[tmc2209 stepper_z2]
uart_pin: zboard: PC11
tx_pin: zboard: PC10
uart_address: 2
run_current: 0.580
#stealthchop_threshold: 999999

[z_tilt]
z_positions:
 153,-16
 321,279
 -5,279
#   A list of X, Y coordinates (one per line; subsequent lines
#   indented) describing the location of each bed "pivot point". The
#   "pivot point" is the point where the bed attaches to the given Z
#   stepper. It is described using nozzle coordinates (the X, Y position
#   of the nozzle if it could move directly above the point). The
#   first entry corresponds to stepper_z, the second to stepper_z1,
#   the third to stepper_z2, etc. This parameter must be provided.
points:
 120,10
 240,277.5
 -4,277.5
 
#   A list of X, Y coordinates (one per line; subsequent lines
#   indented) that should be probed during a Z_TILT_ADJUST command.
#   Specify coordinates of the nozzle and be sure the probe is above
#   the bed at the given nozzle coordinates. This parameter must be
#   provided.
speed: 100
#   The speed (in mm/s) of non-probing moves during the calibration.
#   The default is 50.
horizontal_move_z: 10
#   The height (in mm) that the head should be commanded to move to
#   just prior to starting a probe operation. The default is 5.
retries: 10
#   Number of times to retry if the probed points aren't within
#   tolerance.
retry_tolerance: 0.01
#   If retries are enabled then retry if largest and smallest probed
#   points differ more than retry_tolerance. Note the smallest unit of
#   change here would be a single step. However if you are probing
#   more points than steppers then you will likely have a fixed
#   minimum value for the range of probed points which you can learn
#   by observing command output.